@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

i {
    color: #ffffff;
    font-size: 25px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    position: absolute;
    margin-left: -80px;
    margin-top: 56px;
}

.search {
    position: relative;
    width: 45px;
    height: 15px;
    border-radius: 50px;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-size: 15px;
    overflow: hidden;
    margin: 50px;
}

.search:hover {
    border: 1px solid #FF9950;
}

.search:focus {
    width: 600px;
    cursor: text;
    padding-left: 40px;
    color: black;
    background-color: white;
    border: 1px solid #FF9950;
    background-size: 22px;
    background-position: 10px 50%;
    outline: none;
}